@{
  Layout="_Layout";
}

<h1>Add a new item</h1>
<form action="/items" method="post">
  <label for="item-description">Item description:</label>
  <input type="text" name="item-description" id="item-description">
  <br>
  <hr>
  <button type="submit">Add new item</button>
  <hr>
</form>
<br>
<p><a href="/">Back Home</a></p>
<p><a href="/items">View all items</a></p>
